/* .sidebar-styles{
        display: flex;
        flex-direction: column;
        width: 300px;
        border-right: 2px solid gray;
        
        position: absolute;
        left: 0;
        top: 8.2em;
        padding: 0 1em;
        
        width: 300px;
        height: 100%;
        background-color: rgb(133, 157, 251);
        color: rgb(3, 61, 61);
        align-items: center;
        row-gap: 2em;
        
} */