/* .main-wrapper{
    color: rgb(3, 106, 225);
    background: rgb(184, 178, 178);
    
}

.main-section{
    display: flex;
    column-gap: .2em;
    margin: 0;
    width: 100%;
    justify-content: space-around;
} */


/* .main-content{
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 1em;
    color: white;
    background-color: rgb(67, 71, 87);
    box-shadow: 2px 5px 10px rgba(30, 32, 26, 0.587);
    width: 50%;
} */



/* .sub-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    position: relative;
    margin: auto;
}

.transaction-form{
    color: black;
    width: 50%;
    border-radius: 0.25em;
    padding-top: 1em;
    
    margin: auto;
    background-color: rgb(223, 231, 237);
    box-shadow: 12px 15px 20px rgba(30, 32, 26, 0.587);
}

.sub-contents{
    height: 300px;
    margin: 5px;
} */

.transactions-show{
    height: 90%;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr ;
    color: white;
}