#root {
  
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
/* body {
  background-color: rgb(216, 217, 214);
} */

/* body {
  background-color: #010714bf;
  color: white;
} */

body {
  background-color: #bfbec1f9;
  color: white;
}