#root {
  
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
/* body {
  background-color: rgb(216, 217, 214);
} */

/* body {
  background-color: #010714bf;
  color: white;
} */


/* LIGHT THEME  */
body {
  background-color: whitesmoke;
  color: black;
  /* color: rgb(102, 93, 55); */
}

/* DARK THEME */

/* bgcolor: '#010714bf', color: 'white' */
